

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3.5rem;

    /*===== Colors =====*/
    --first-color: #A29596;
    --primary: #A29596;
    --second-color: #33303D;
    --black-color: #111111;
    --white-color: #FFF;

    /*===== Font and typography =====*/
    --body-font: 'Roboto', sans-serif;
    
    --biggest-font-size: 1.5rem;
    --big-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;

    // Responsive typography
    @media screen and (min-width: 968px){
        --biggest-font-size: 3.25rem;
        --big-font-size: 2.25rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /*===== z index =====*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--body-font);
    background-color: var(--white-color);
    color: var(--black-color);
}
h1,h2,h3,p{
    margin: 0;  
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}


/*===== LAYOUT =====*/
.container{
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
}


/*===== PAGES =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__toggle-icon, &__shop-icon {
        font-size: 1.5rem;
    }

    &__menu {
        @media screen and (max-width: 968px) {
            position: fixed;
            left: -100%;
            top: var(--header-height);
            background-color: var(--white-color);
            width: 80%;
            height: 100%;
            padding: 2rem;
            z-index: var(--z-fixed);
            transition: .3s;
        }
    }
    &__item {
        margin-bottom: 2rem;
        font-weight: var(--font-bold);
    }
    &__link {
        color: var(--black-color);
    }
    &__toggle, &__shop {
        cursor: pointer;
    }
}
// SHOW MENU
.show {
    left: 0;
}


/*===== HOME =====*/
.home {
    height: calc(100vh - var(--header-height));
    display: grid;
    row-gap: 3.5rem;
    grid-template-rows: repeat(2, max-content);
    overflow: hidden;
}


/*===== SNEAKER =====*/
.sneaker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    padding: 2rem 0;
    position: relative;

    &__figure {
        width: 240px;
        height: 240px;
        background-color: var(--primary);
        border-radius: 50%;
        // transition: .5s;
    }
    &__img {
        width: 313px;
        position: absolute;
        top: 16%;
        left: 9%;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        transform: rotate(30deg);
        opacity: 0;
        filter: drop-shadow(0 10px 10px rgba(17, 17, 17, .4));

        &.shows {
            opacity: 1;
        }
    }
    &__colors {
        position: absolute;
        right: 2%;
    }
    &__color {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-bottom: 0.5rem;
        cursor: pointer;

        &.active {
            border: 2px solid var(--white-color);
            box-shadow: 0 0 2px rgba(0, 0, 0, 1);
        }
    }
    &__colors-one {
        background-color: var(--first-color);
    }
    &__colors-two {
        background-color: var(--black-color);
    }
}


/*===== DATA =====*/
.data {
    margin-bottom: 1.5rem;

    &__subtitle, &__description {
        font-size: var(--normal-font-size);
    }
    &__title {
        font-size: var(--biggest-font-size);
        margin-bottom: 0.5rem;
    }
}


/*===== SIZE =====*/
.actions {
    display: flex;
    justify-content: space-between;
}

.size {

    &__title {
        font-size: var(--normal-font-size);
        margin-bottom: 1rem;
    }
    &__content {
        display: flex;
        gap: .5rem;
    }
    &__us {
        width: 30px;
        height: 30px;
        font-size: var(--smaller-font-size);
        text-align: center;
        line-height: 30px;
        border-radius: .25rem;
        cursor: pointer;

        &.active {
            background-color: var(--primary);
            color: var(--white-color);
        }
    }
}


/*===== COUNT =====*/
.count {
    &__title {
        font-size: var(--normal-font-size);
        margin-bottom: 1rem;
    }
    &__content {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
        color: var(--white-color);
        padding: 0.5rem;
        border-radius: .25rem;
    }
}

/*===== PRICE =====*/
.price {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 83px;
    background-color: var(--white-color);
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0 0 20px rgba(17, 17, 17, .25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__title {
        font-size: var(--big-font-size);
        color: var(--black-color);
    }
    &__btn {
        background-color: var(--primary);
        color: var(--white-color);
        padding: 1.25rem 3.125rem;
        border-radius: .5rem;
    }
}
