

/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3.5rem;

    /*===== Colors =====*/
    --first-color: #A29596;
    --primary: #A29596;
    --second-color: #33303D;
    --black-color: #111111;
    --white-color: #FFF;

    /*===== Font and typography =====*/
    --body-font: 'Roboto', sans-serif;
    
    --biggest-font-size: 1.5rem;
    --big-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;

    // Responsive typography
    @media screen and (min-width: 968px){
        --biggest-font-size: 3.25rem;
        --big-font-size: 2.25rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /*===== z index =====*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--body-font);
    background-color: var(--white-color);
    color: var(--black-color);
}
h1,h2,h3,p{
    margin: 0;  
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}


/*===== LAYOUT =====*/
.container{
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
}


/*===== PAGES =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__toggle-icon, &__shop-icon {
        font-size: 1.5rem;
    }

    &__menu {
        @media screen and (max-width: 968px) {
            position: fixed;
            left: -100%;
            top: var(--header-height);
            background-color: var(--white-color);
            width: 80%;
            height: 100%;
            padding: 2rem;
            z-index: var(--z-fixed);
            transition: .3s;
        }
    }
    &__item {
        margin-bottom: 2rem;
        font-weight: var(--font-bold);
    }
    &__link {
        color: var(--black-color);
    }
    &__toggle, &__shop {
        cursor: pointer;
    }
}

// SHOW MENU
.show {
    left: 0;
}